*{
    font-family: 'nova square', cursive;
}
body{
    background-color: var(--main);
}
:root{
    --main:#ececec;
    --sec:rgb(139, 1, 2);
    --ter:rgb(148, 154, 160);
}
.header{
    height: 10vh;
    background-color: var(--main);

}
.navbar{
    background-color: var(--main);

}
 .navbar a{
    color:var(--ter);
}
.img-bg{
    height: 100vh;
    background-image:url(./media/mountains2.png) , linear-gradient(0deg, rgba(0,0,0,0) 0%, var(--main) 100%) , url(./media/switzerland-862870_1920.jpg);
    background-size: 100%, cover ,cover;
    background-repeat: no-repeat;
    background-position: bottom, center, center;
    background-color: var(--main);
}

h1{
    font-size: 7vmax;
    color: var(--sec);
    letter-spacing: 1vw;
}
h3{
    color: var(--sec);
}
#quotes::before{
    font-size: large;
    font-family: 'rajdhani', sans-serif;
    content: ' " ' ;
    color: var(--sec);
}
#quotes::after{
    font-size: large ;
    font-family: 'rajdhani', sans-serif;
    content: ' " ' ;
    color: var(--sec);
    position: absolute;
    bottom: 0%;
}
.item{
    font-size: 3rem;
    color: var(--sec);
}
.redbar{
    border-bottom: 10px, solid, var(--sec) ;
}
.bordo{
    border-bottom: 3px solid darkred;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.bi-circle{
    position: absolute;
    background-color: var(--main);
}